body{
    width: 99%;
}
.input{
    margin-bottom: 1ex;
    margin-left: auto;
}
label{
    display: block;
    justify-content: center;
    text-align: center;
}


h3{
    text-align: center;
    padding-top: 6%;
}

