<div class="container" >
    <h3>Расчет клиренса креатинина</h3>
    <div class="conteiner-fluid p-1">
      <div class="row justify-content-center ">
        <div class="col-md-6 aligin-self-center">
          <form #clirensForm="ngForm" (ngSubmit)="makeCalculate()" autocomplete="off">
            <div class="input">
              <label class="form-label">Возраст</label>
              <div class="input-group">
              <input type="number" class="form-control" name="age" [(ngModel)]="values.age" placeholder="лет">
              <span class="input-group-text">лет</span>
              </div>
            </div>
            <div class="input ">
              <label class="form-label">Вес</label>
              <div class="input-group">
              <input type="number" class="form-control" name="waight" [(ngModel)]="values.weight" placeholder="кг">
              <span class="input-group-text">кг</span>
              </div> 
            </div>
            <div class="input">
              <label class="form-label">Креатинин сыворотки</label>
              <div class="input-group">
                <input type="number" class="form-control" name="blod" [(ngModel)]="values.creatinin" placeholder="мкмоль/л">
                <span class="input-group-text ">мкмоль/л</span>
              </div>
             
            </div>
            <div class="row mt-4">
              <div class="col-4 "></div>
              <div class="form-check form-switch col-6  mb-4" >             
                <input class="form-check-input" type="checkbox" name="women" [(ngModel)]="values.female"
                  placeholder="women" (click)=" chek()">
                <label class="form-check-label ">Пол {{sex}}</label>
              </div>
            </div>
  
           <div class="container">
            <button class="btn btn-lg btn-primary ms-5" type="submit">Расчитать</button>
            <button class="btn btn-lg btn-danger ms-3" type="button" (click)="resetForm()">Очистить</button>
           </div>
            
          </form>
          <div *ngIf="showResult" class="mt-4">
            <p>Клиренс креатинина: </p>
            <h4>{{result}} мл/мин</h4>
            <p>Повторная проверка клиренса креатинина: </p>
            <h4>{{nextCheck}}</h4>
          </div>
  
  
        </div>
      </div>
    </div>
  </div>
